.admin-header .brand-logo {
  margin-left: 10px;
}

.admin-header .btn .material-icons {
  display: inline-block;
  vertical-align: bottom;
}

.action-buttons {
  text-align: center;
}

.notice {
  padding: 15px 10px;
  margin-bottom: 5px;
}

.notice.notice-error {
  background-color: #993333;
  color: #ffffff;
}

.notice-success {
  background-color: #338833;
  color: #ffffff;
}

table label [type="checkbox"]+span:not(.lever) {
  height: 20px;
  line-height: 20px;
  vertical-align: bottom;
}

table .avatar-profile-table {
  height: 40px;
  vertical-align: middle;
}

.popup-card {
  width: 300px;
}

.overlay-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginPage,
.PageDashboard,
.ImportPage {
  text-align: center;
}

.errors-table td {
  background-color: #ffebee;
  border-top: solid 1px #ef9a9a;
}

.overlay-element {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(120, 120, 120, 0.5);
  justify-content: center;
  align-items: center;
  display: flex;
}

.video-view {
  height: 600px;
  width: 338px;
  overflow: hidden;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 20px;
  display: inline-block;
}

.video-view video {
  width: auto;
  height: 100%;
}

.video-view .placeholder-video {
  background-color: #dddddd;
  border: solid 1px #cccccc;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 60;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-view .video-holder {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
}

.video-view .overlay-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(10, 10, 10, 0.4);
  cursor: pointer;
}

.video-view .overlay-video.play {
  opacity: 0;
}

.video-view .overlay-video i {
  color: #ffffff;
  cursor: pointer;
}

.modal-content .collection {
  max-height: 400px;
  overflow-y: scroll;
}

.modal-content .collection li {
  text-align: left;
}

.modal-content .collection li img {
  width: 40px;
  height: 40px;
}

.collection li {
  text-align: left;
}

.collection li img {
  width: 40px;
  height: 40px;
}

.collection .secondary-content {
  cursor: pointer;
}

.forms-holder {
  position: relative;
  overflow: hidden;
}

.overlay-block {
  background: rgba(90, 90, 90, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.btn .material-icons {
  vertical-align: bottom;
  margin-left: 5px;
  margin-right: 5px;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 5%;
  width: 12px;
  height: 15px;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 0;
  width: 12px;
  height: 15px;
}

.thumbnails {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.videoCard {
  width: 200px;
  height: 400px;
  margin: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.videoCardTitle {
  position: absolute;
  top: 1%;
  left: 1%;
  color: white;
  text-align: left;
  padding: 0.5em;
}

.videoCardFooterTitle {
  max-width: 200px;
  margin-left: 11px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.overlay-video-thumbnail {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}